#jinja2:lstrip_blocks: True
subnet {{ PINANAS_DHCP_BASE }} netmask {{ PINANAS_DHCP_SUBNET }} {
    option routers                  {{ PINANAS_DHCP_GATEWAY }};
    option subnet-mask              {{ PINANAS_DHCP_SUBNET }};
    option domain-name-servers      {{ PINANAS_HOST_IP }},{{ PINANAS_DHCP_UPSTREAM_DNS | join(',') }};
    range                           {{ PINANAS_DHCP_START }} {{ PINANAS_DHCP_END }};
}
host home {
    hardware ethernet {{ PINANAS_HOST_HMAC }};
    fixed-address {{ PINANAS_HOST_IP }};
}
{% for lease in PINANAS_DHCP_LEASES %}
host {{ lease.name }} {
    hardware ethernet {{ lease.hmac }};
    fixed-address {{ lease.ip }};
}
{% endfor %}
