---
version: "3"
networks:
  default:

services:
  #
  ## === DHCPD ===
  # DHCP Daemon: answer to dhcp requests to assign IPs to
  # clients and set their primary DNS server. This is necessary
  # for adGuardHome to work with zero configuration on clients.
  ##
  dhcpd:
    image: {{ 'prehley/rpi-dhcpd' if ('arm' in ansible_architecture) else 'networkboot/dhcpd:1.1.0' }}
    container_name: dhcpd
    volumes:
      - ./dhcpd/config/dhcpd.conf:/data/dhcpd.conf:ro
      - ./dhcpd/data:/data
      - ./dhcpd/cgroup:/sys/fs/cgroup
    hostname: dhcpd
    network_mode: host
    environment:
      - TZ={{ PINANAS_TZ }}
    restart: unless-stopped

  #
  ## === TRAEFIK ===
  # Reverse proxy (HTTP, TCP, UDP): route requests to
  # services hosted or not on the same host. This is
  # useful to add SSO (authelia), HTTPS (let's encrypt),
  # and protect services not suited to face the outside.
  ##
  traefik:
    image: traefik:v2.4
    container_name: traefik
    depends_on:
      - dhcpd
    ports:
      - 80:80
      - 443:443
      - 53:53/udp
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/config/config.yml:/config.yml:ro
      - ./traefik/config/traefik.yml:/traefik.yml:ro
      - ./traefik/data/acme.json:/acme.json
    hostname: traefik
    networks:
      default:
        aliases:
          - traefik
          - traefik-dashboard
    environment:
      - TZ={{ PINANAS_TZ }}
{% for var in PINANAS_DNS_PROVIDER_VARS %}
      - {{ var.name }}={{ var.value }}
{% endfor %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.traefik-secure.entrypoints=https"
      - "traefik.http.routers.traefik-secure.rule=Host(`traefik-dashboard.{{ PINANAS_DOMAIN }}`)"
      - "traefik.http.routers.traefik-secure.service=api@internal"
      - "traefik.http.routers.traefik-secure.tls=true"
      - "traefik.http.routers.traefik-secure.tls.certresolver=myresolver"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main={{ PINANAS_DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].sans=*.{{ PINANAS_DOMAIN }}"
      - "traefik.http.routers.traefik.entrypoints=http"
      - "traefik.http.routers.traefik.middlewares=traefik-https-redirect"
      - "traefik.http.routers.traefik.rule=Host(`traefik-dashboard.{{ PINANAS_DOMAIN }}`)"
    restart: unless-stopped

  #
  ## === AUTHELIA ===
  # Single Sign On: handle authentification to users
  # on the whole network.
  ##
  authelia:
    image: authelia/authelia:4
    container_name: authelia
    depends_on:
      - traefik
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./authelia/config:/config
    hostname: authelia
    networks:
      default:
        aliases:
          - authelia
          - auth
    environment:
      - TZ={{ PINANAS_TZ }}
      - PUID={{ PUID }}
      - PGID={{ PGID }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.authelia.forwardauth.address=http://authelia:9091/api/verify?rd=https://auth.{{ PINANAS_DOMAIN }}"
      - "traefik.http.middlewares.authelia.forwardauth.authResponseHeaders=Remote-User,Remote-Groups,Remote-Name,Remote-Email"
      - "traefik.http.middlewares.authelia.forwardauth.trustForwardHeader=true"
      - "traefik.http.routers.authelia.entrypoints=https"
      - "traefik.http.routers.authelia.rule=Host(`auth.{{ PINANAS_DOMAIN }}`)"
      - "traefik.http.routers.authelia.tls=true"
    restart: unless-stopped

  #
  ## === AD GUARD HOME ===
  #
  # Ad filter: acts as a primary DNS and filter
  # hosts known to serve advertising.
  ##
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    depends_on:
      - dhcpd
      - traefik
    volumes:
      - ./adguardhome/config:/opt/adguardhome/conf
      - ./adguardhome/data:/opt/adguardhome/work/data
    hostname: adguardhome
    networks:
      default:
        aliases:
          - adguardhome
          - dns
    environment:
      - TZ={{ PINANAS_TZ }}
      - PUID={{ PUID }}
      - PGID={{ PGID }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.adguardhome-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.adguardhome-secure.entrypoints=https"
      - "traefik.http.routers.adguardhome-secure.middlewares=authelia@docker"
      - "traefik.http.routers.adguardhome-secure.rule=Host(`adguardhome-dashboard.{{ PINANAS_DOMAIN }}`)"
      - "traefik.http.routers.adguardhome-secure.service=adguardhome"
      - "traefik.http.routers.adguardhome-secure.tls=true"
      - "traefik.http.routers.adguardhome.entrypoints=http"
      - "traefik.http.routers.adguardhome.middlewares=adguardhome-https-redirect"
      - "traefik.http.routers.adguardhome.rule=Host(`adguardhome-dashboard.{{ PINANAS_DOMAIN }}`)"
      - "traefik.http.services.adguardhome.loadbalancer.server.port=80"
      - "traefik.tcp.routers.adblockhome-dns.entrypoints=dns-tcp"
      - "traefik.tcp.routers.adblockhome-dns.service=adblockhome-dns"
      - "traefik.tcp.services.adblockhome-dns.loadBalancer.server.port=53"
      - "traefik.udp.routers.adblockhome-dns.entrypoints=dns-udp"
      - "traefik.udp.routers.adblockhome-dns.service=adblockhome-dns"
      - "traefik.udp.services.adblockhome-dns.loadBalancer.server.port=53"
    restart: unless-stopped

  #
  ## === HEIMDALL ===
  #
  # Application dashboard
  ##
  heimdall:
    image: lscr.io/linuxserver/heimdall:2.2.2
    container_name: heimdall
    environment:
      - TZ={{ PINANAS_TZ }}
      - PUID={{ PUID }}
      - PGID={{ PGID }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.heimdall-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.heimdall-secure.entrypoints=https"
      - "traefik.http.routers.heimdall-secure.middlewares=authelia@docker"
      - "traefik.http.routers.heimdall-secure.rule=Host(`apps.{{ PINANAS_DOMAIN }}`)"
      - "traefik.http.routers.heimdall-secure.service=heimdall"
      - "traefik.http.routers.heimdall-secure.tls=true"
      - "traefik.http.routers.heimdall.entrypoints=http"
      - "traefik.http.routers.heimdall.middlewares=heimdall-https-redirect"
      - "traefik.http.routers.heimdall.rule=Host(`apps.{{ PINANAS_DOMAIN }}`)"
      - "traefik.http.services.heimdall.loadbalancer.server.port=80"
    volumes:
      - ./heimdall/config:/config
    restart: unless-stopped

  #
  ## === NEXTCLOUD ===
  #
  # Nextcloud gives you access to all your files wherever you are.
  ##
  nextcloud:
    image: lscr.io/linuxserver/nextcloud:23.0.0
    container_name: nextcloud
    environment:
      - TZ={{ PINANAS_TZ }}
      - PUID={{ PUID }}
      - PGID={{ PGID }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud-secure.entrypoints=https"
      - "traefik.http.routers.nextcloud-secure.middlewares=authelia@docker"
      - "traefik.http.routers.nextcloud-secure.rule=Host(`cloud.{{ PINANAS_DOMAIN }}`)"
      - "traefik.http.routers.nextcloud-secure.service=nextcloud-secure"
      - "traefik.http.routers.nextcloud-secure.tls=true"
      - "traefik.http.routers.nextcloud.entrypoints=http"
      - "traefik.http.routers.nextcloud.rule=Host(`cloud.{{ PINANAS_DOMAIN }}`)"
      - "traefik.http.routers.nextcloud.middlewares=nextcloud-https-redirect"
      - "traefik.http.middlewares.nextcloud-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.services.nextcloud-secure.loadbalancer.server.scheme=https"
      - "traefik.http.services.nextcloud-secure.loadbalancer.server.port=443"

    volumes:
      - ./nextcloud/config:/config
      - ./nextcloud/data:/data
    restart: unless-stopped
