#jinja2:lstrip_blocks: True
{% for user in pinanas.users %}
  {{ user.login }}:
    displayname: "{{ user.fullname }}"
    password: "{{ user.password | authelia_password }}"
    email: "{{ user.email }}"
    groups:
    {% if user.admin | default(False) %}
    - admins
    {% endif %}
    - users
{% endfor %}
