users:
{% for user in pinanas.users %}
  {{ user.login }}:
    displayname: "{{ user.fullname }}"
    password: "{{ user.password | authelia_password }}"
    email: "{{ user.email }}"
    groups:
    {% for group in user.groups | default([]) | reject("equalto", "users") %}
    - {{ group }}
    {% endfor %}
    - users
{% endfor %}
