#
## === AD GUARD HOME ===
#
adguardhome:
  image: adguard/adguardhome
  container_name: adguardhome
  profiles:
    - {{ pinanas.applications.adguardhome|default("not_activated",true) }}
  depends_on:
    - dhcpd
    - traefik
  networks:
    pinanas:
      aliases:
        - adguardhome
        - dns
  environment:
    - TZ={{ pinanas.timezone }}
    - PUID={{ PUID }}
    - PGID={{ PGID }}
  labels:
    - "traefik.enable=true"
    - "traefik.http.middlewares.adguardhome-https-redirect.redirectscheme.scheme=https"
    - "traefik.http.routers.adguardhome-secure.entrypoints=https"
    - "traefik.http.routers.adguardhome-secure.middlewares=authelia@docker"
    - "traefik.http.routers.adguardhome-secure.rule=Host(`adguardhome-dashboard.{{ pinanas.domain }}`)"
    - "traefik.http.routers.adguardhome-secure.service=adguardhome"
    - "traefik.http.routers.adguardhome-secure.tls=true"
    - "traefik.http.routers.adguardhome.entrypoints=http"
    - "traefik.http.routers.adguardhome.middlewares=adguardhome-https-redirect"
    - "traefik.http.routers.adguardhome.rule=Host(`adguardhome-dashboard.{{ pinanas.domain }}`)"
    - "traefik.http.services.adguardhome.loadbalancer.server.port=80"
    - "traefik.tcp.routers.adblockhome-dns.entrypoints=dns-tcp"
    - "traefik.tcp.routers.adblockhome-dns.service=adblockhome-dns"
    - "traefik.tcp.services.adblockhome-dns.loadBalancer.server.port=53"
    - "traefik.udp.routers.adblockhome-dns.entrypoints=dns-udp"
    - "traefik.udp.routers.adblockhome-dns.service=adblockhome-dns"
    - "traefik.udp.services.adblockhome-dns.loadBalancer.server.port=53"
  volumes:
    - ./adguardhome/config:/opt/adguardhome/conf
    - ./adguardhome/data:/opt/adguardhome/work/data
  restart: unless-stopped

