---
#
## Private network
#
PINANAS_HOST_HMAC:                           # MAC address of Pinana's host network card, eg 01:02:03:04:05:06
PINANAS_HOST_IP:                             # Static IP of Pinana's host inside its private network, eg. 192.168.1.1
PINANAS_DHCP_SUBNET:                         # Private network subnet mask, eg. 255.255.255.0
PINANAS_DHCP_GATEWAY:                        # Private network gateway, eg. 192.168.1.254
PINANAS_DHCP_START:                          # First (included) IP of agents inside private network, eg. 192.168.1.10
PINANAS_DHCP_END:                            # Last (included) IP of agents inside private network, eg. 192.168.1.64
PINANAS_DHCP_UPSTREAM_DNS:                   # Upstream DNS, eg. 8.8.8.8


#
## Home
#
PINANAS_TZ:                                  # Local timezone for ease to interpret logs, eg. Europe/Paris
PINANAS_DOMAIN:                              # Domain name registered, eg. home.example.com
PINANAS_DNS_PROVIDER_NAME:                   # Provider for registered name, eg. ovh
PINANAS_DNS_PROVIDER_VARS:                   # See traefik documentation for your provider at <https://doc.traefik.io/traefik/https/acme/#providers>
