api:
  dashboard: true
  debug: true
entryPoints:
  http:
    address: ":80"
  https:
    address: ":443"
  dns-udp:
    address: ":53/udp"
  dns-tcp:
    address: ":53/tcp"
serversTransport:
  insecureSkipVerify: true
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: /config.yml
certificatesResolvers:
  myresolver:
    acme:
      email: "{{ PINANAS_DNS_PROVIDER_EMAIL }}"
      storage: /acme.json
      dnsChallenge:
        provider: {{ PINANAS_DNS_PROVIDER_NAME }}
        delayBeforeCHeck: 0
