[DEFAULT]

ignoreself = true
ignoreip = 127.0.0.1/8 {{ pinanas.network.dhcp.base }}/24 ::1

bantime = 3h
findtime = 3d
maxretry = 4
maxmatches = %(maxretry)s

bantime.increment = true
bantime.rndtime = 3h
bantime.maxtime = 2w
bantime.factor = 4
bantime.formula = ban.Time * (1<<(ban.Count if ban.Count<20 else 20)) * banFactor
bantime.overalljails = true

banaction = %(banaction_allports)s

# --------------------
# NOTIFICATION BY EMAIL
#      Notification by email only work if sendmail or mail app like postgres running on the system

# Some options used for actions

# Destination email address used solely for the interpolations in
# jail.{conf,local,d/*} configuration files.
destemail = "{{ pinanas.users[0].email }}"

# Sender email address used solely for some actions
sender = "{{ pinanas.network.smtp.sender }}"

# E-mail action. Since 0.8.1 Fail2Ban uses sendmail MTA for the
# mailing. Change mta configuration parameter to mail if you want to
# revert to conventional 'mail'.
mta = sendmail

# Default protocol
protocol = tcp

# --------------------
# JAILS
#

[sshd]
enabled = true
chain = INPUT

[authelia-auth]
enabled = true
chain = FORWARD

[nextcloud-auth]
enabled = true
chain = FORWARD

[traefik-auth]
enabled = true
chain = FORWARD



