<?xml version="1.0" encoding="utf-8"?>
<BrandingOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LoginDisclaimer>&lt;a class="oidc-link raised button-submit block emby-button" href="https://media.{{ pinanas.domain }}:{{ pinanas.ports.https }}/sso/OID/p/Authelia"&gt;Sign In With Authelia&lt;/a&gt;</LoginDisclaimer>
  <CustomCss>.disclaimer {
  width: 100%;
}
.oidc-link {
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
}</CustomCss>
  <SplashscreenEnabled>true</SplashscreenEnabled>
</BrandingOptions>
