---
##
# This is PiNanas configuration file: settings.yml.
#
# Once every mandatory value has been set, you can call PiNanas'
# configure.sh script from the directory directly containing this
# file. See README.md for more information.
#

pinanas:
  # Registered domain name. Type: string. Example: "home.example.com".
  domain:

  # Master password to encrypt/derive all PiNanas secrets. Type: string.
  # Example: "Randomly-generated-complex-string-with-mixed-case-digits-and-special-characters".
  master_secret:

  # Locale timezone. Type: string. Example: "Europe/Paris".
  # Use a TZ database name, see <https://en.wikipedia.org/wiki/List_of_tz_database_time_zones>.
  timezone:

  # Users. Type: List of users.
  # User: { login: string, password: string, email: string, fullname: string }. Exemple:
  # - login: johndoe
  #   password: "s3cr3t"
  #   email: john@doe.com
  #   fullname: "John D. Doe"
  users:

  # List of services external to PiNanas to serve through it. Type: list of services.
  # Service: { name: string, url: string }. Example:
  # - name: "myservice"'
  #   url: "https://192.168.0.2:1234"
  services:

  acme:
    # Use Let's Encrypt stagging servers. Type: boolean. Optional, default: false. Example: true.
    stagging: false

  network:
    # MAC address of PiNana's host network card. Type: string. Example: "01:02:03:04:05:06".
    hmac:
    # Desired IP address of PiNanas's host. Type: string. Example "192.168.0.1".
    ip:

    dhcp:

      # Base IP for the network. Type: string. Example: "192.168.0.0".
      base:

      # Network subnet mask. Type: string. Example: "255.255.255.0".
      subnet:

      # Network gateway. Type: string. Example: "192.168.0.254".
      gateway:

      range:
        # First (included) IP of clients inside the network. Type: string. Example: "192.168.0.16".
        start:

        # Last (included) IP of clients inside the network. Type: string. Example: "192.168.0.64".
        end:

      # Fixed-address leases. Type: list of leases.
      # Lease: { name: string, hmac: string, ip: string }. Example:
      #  - name: "DeviceName"
      #    hmac: "01:23:45:67:89:ab"
      #    ip: "192.168.0.42"
      fixed_address_leases:

    dns:
      # Upstream DNS servers. Type: list of strings. Example:
      # - 1.1.1.1
      # - 1.0.0.1
      upstreams:

      # PiNanas DNS provider.
      # See traefik documentation for your provider at <https://doc.traefik.io/traefik/https/acme/#providers>.
      provider:
        # Provider's name. Stype: string. Example: "ovh".
        name:

        # Email address used for registration. Type: string. Example: "johndoe@example.com".
        email:

        # API variables. Type: list of variables.
        # Variable: { name: string, value: string }. Example:
        # - name: MY_PROVIDER_API_KEY
        #   value: "super_secret_api_secret"
        # - name: MY_PROVIDER_ENDPOINT
        #   value: my-provider-narnia
        api:

    # Send email; consult the documentation for your email provider.
    # eg. for gmail: <https://support.google.com/a/answer/176600?hl=en>.
    smtp:
      # Server hostname. Type: string. Example: "smtp.gmail.com".
      host:

      # Server port number. Type: integer. Example: 587.
      port:

      # Email address or username. Type: string. Example: "johndoe@gmail.com".
      username:

      # Password. Type: string. Example: "s3cr3t".
      password:

      # Send emails as. Type: string. Example: "contact@{{ pinanas.domain }}".
      sender:

##
#
# Nextcloud with MySQL database (like MariaDB) need some variables to be defined
#
mysql:
 
  # Create an user used to connect Nextcloud app with Mysql database
  # Username will be entered as "Username" on the configuration of the database Mysql/MariaDB
  # on your first access to Nextcloud web interface. Type: string
  user:
 
  # User password for the MYSQL database. Type: string
  user_password:

  # Name of your database for Nextcloud (like "pinanas-nextcloud"). Type: string
  database:

  # Define where database, datafiles (users, files versionning, etc) will be stored.
  # Example: "./mysql" or "path/to/external_drive/mysql"
  #
  # If you want to use an external disk, don't forget to mount the disk before ;)
  
  db_path: 

nextcloud:

  # Define where your data will be stored
  # Example: ./nextcloud or path/to/external_drive/nextcloud

  # If you want to use an external disk, don't forget to mount the disk before ;)
 
  data_path:

  # If you want to use the nextcloud app "External Storage" with a local directory
  # to access to files out of your database, change the path bellow:
  # For example, could be usefull for videos stored on an external drive

  # In Nextcloud, the path will be "/ext_storage"

  ext_storage: ./external