#jinja2:lstrip_blocks: True
http:
  routers:
    {% for service in pinanas.services %}
    {{ service.name }}:
      entryPoints:
        - "https"
      rule: "Host(`{{ service.name }}.{{ pinanas.domain }}`)"
      middlewares:
        - default-headers
        - authelia@docker
      tls: {}
      service: {{ service.name }}
    {% endfor %}
  services:
    {% for service in pinanas.services %}
      {% if service.url %}
    {{ service.name }}:
      loadBalancer:
        servers:
          - url: "{{ service.url }}"
        passHostHeader: true
      {% endif %}
    {% endfor %}
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https
    default-whitelist:
      ipWhiteList:
        sourceRange:
        - "10.0.0.0/8"
        - "192.168.0.0/16"
        - "172.16.0.0/12"
    secured:
      chain:
        middlewares:
        - default-whitelist
        - default-headers
tls:
  options:
    default:
      minVersion: VersionTLS12
      sniStrict: true
      cipherSuites:
      # TLS 1.3
      - TLS_AES_128_GCM_SHA256
      - TLS_CHACHA20_POLY1305_SHA256
      - TLS_AES_256_GCM_SHA384
      # TLS 1.2
      - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
      - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
      - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
