api:
  dashboard: true
  debug: true
entryPoints:
  http:
    address: ":80"
  https:
    address: ":443"
  dns-udp:
    address: ":53/udp"
  dns-tcp:
    address: ":53/tcp"
serversTransport:
  insecureSkipVerify: true
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: /config.yml
certificatesResolvers:
  myresolver:
    acme:
      email: "{{ pinanas.network.dns.provider.email }}"
      storage: /acme.json
      {% if (pinanas.acme.stagging | default(false)) == true -%}
      caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
      {% endif %}

      dnsChallenge:
        provider: {{ pinanas.network.dns.provider.name }}
        delayBeforeCHeck: 0
